* {
  box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
section a {
    color: #b25092;
}
section p {
    float: none!important;
}
h1{
	background-color: #156e94;
}
h1, h2, h3{
    text-underline-offset: 0.09em;
    text-decoration: underline;
    text-align: center;
    position: relative;
}
body {
    background-image: url("../Images/background.jpg");
    font-family: 'Roboto', sans-serif;
    background-color: floralwhite;
    font-size: 1em;
}

header{
  width: 100%;
}
header nav ul{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: max-content;
}
header nav ul li{
  margin-bottom: 5px;
  color: #b25092;
  width: max-content;
}
header nav ul li:nth-child(1){
  float: left;
}
header nav ul li:nth-child(2){
  float: right;
}
header nav ul li:nth-child(3){
  float: right;
}
ol, ul{
	text-align: center;
	position: relative;  
}
li{
  padding-left: 10px;
  font-weight: bold;
}
p ~ p{
  padding-top: 5px;
}
p {
    display: block;
    margin-block-start: 1em;
    font-weight: bold;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
nav{
  background-color:#bbc454;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  border-radius: 0 0 1.5em 1.5em;
}
section{
  padding: 10px 0;
}
section section{
  padding: 0 10px;
}
main{
  padding: 0 10px;
}
footer{
  clear: none;
  background-color: #f2f5f5;
}